<app-navbar></app-navbar>
<main class="main">
  <section class="main-section1" id="section1">
      <div class="main-section1-description">
          <h1 class="main-section1-title">
              <span>Ahorra</span>
               y combate el desperdicio de
               <span>alimentos</span>
          </h1>
          <p class="main-section1-parrafo">
              Tu app de comida sostenible. ¡Descarga la app y salva productos alimeticios con un descuento de hasta el 70%!
          </p>
          <div class="main-section1-div">
              <figure class="main-section1-div-figure1">
                  <img src="../assets/images/google-play-badge.png" alt="icono de Google Play">
              </figure>
              <figure class="main-section1-div-figure2">
                  <img src="../assets/images/app-store-icon.png" alt="icono de Google Play">
              </figure>
          </div>
      </div>
        <picture class="main-section1-image">
            <figcaption>Podemos ver algunas imagenes de la app!</figcaption>
            <source media="(min-width:800px)" srcset="../assets/images/mediumModel.png">
            <img src="../assets/images/smallModel.png" alt="muestra de la aplicacion">
        </picture>
  </section>
  <section class="main-section2" id="section2">
      <div class="main-section2-description">
          <h1 class="main-description-title">
              <span class="main-description-title-span">Ahorra</span>
               y combate el desperdicio de alimentos
          </h1>
          <p>
              Tu app de comida sostenible. ¡Descarga la app y salva productos alimeticios con un descuento de hasta el 70%!
          </p>
      </div>
      <figure class="main-section2-image">
          <img src="./Mockups5.png" alt="muestra de la aplicacion">
      </figure>
  </section>
  <section class="main-section3" id="section3">
      <div class="main-section3-description">
          <h1 class="main-description-title">
              <span class="main-description-title-span">Ahorra</span>
               y combate el desperdicio de alimentos
          </h1>
          <p>
              Tu app de comida sostenible. ¡Descarga la app y salva productos alimeticios con un descuento de hasta el 70%!
          </p>
      </div>
      <figure class="main-section2-image">
          <img src="./Mockups5.png" alt="muestra de la aplicacion">
      </figure>
  </section>
</main>
<app-footer></app-footer>
